# للتعامل مع الشبكة وتعدد الاتصالات
socket
threading
struct
pickle

# للمعالجة الرسومية وعرض البث
opencv-python==4.9.0.80 # لاستقبال وعرض إطارات الفيديو (Live Stream)
numpy==1.26.4          # لمعالجة المصفوفات (Frame Data)

# مكتبات اختيارية لتحسين الأداء (إذا أردت لاحقاً)
# pyzmq==25.1.2         # يمكننا استبدال السوكيت العادي بهذا مستقبلاً لنقل بيانات أضخم وأسرع
